.main {
    background-color: #fafafa;
}

.wrapper-sign-up {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin: 0 auto 0;
    max-width: 935px;
    width: 100%;
}

.wrapper-sign-up .right-content {
    flex-grow: 1;
    max-width: 388px;
}

.form-forgot-pass {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
}

.form-forgot-pass .logo {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

.block-logo {
    background-image: url("../../images/instagram-logo.png");
    background-repeat: no-repeat;
    background-position: -130px 0;
    height: 96px;
    width: 96px;
}

.trouble-log-in {
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 44px 16px;
    text-align: center;
}

.form-forgot-pass-child {
    width: 100%;
}

.form-forgot-input {
    display: flex;
    flex-direction: column;
}

.description-forgot {
    margin: 0 44px 16px;
    color: #8e8e8e;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.mg-input {
    margin: 0 44px 16px;
}

.input-forgot-pass {
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    position: relative;
    width: 100%;
}

.input-text {
    border: 0;
    padding: 9px 0 7px 8px;
    width: 260px;
}

.input-text:focus {
    outline: 0;
}

.btn-forgot-pass {
    margin: 0 40px 16px;
    background: #fff;
    border: 0;
    flex-direction: column;
    display: inline-flex;
    height: auto;
}

.btn-forgot-pass-submit {
    width: 268px;
    color: white;
    border: none;
    background: #3897f0;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 9px;
    font-size: 14px;
}

.btn-forgot-pass-submit:hover {
    background-color: rgba(0,149,246,.3);
}

.btn-forgot-pass-submit:active {
    outline: 0;
}

.err-message {
    color: #ed4956;
    margin: 0 44px 16px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.err-message p {
    margin: 0;
}

.success-message {
    color: #0cbd33;
    margin: 10px 40px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.submit-bottom {
    margin: 16px 44px;
    display: flex;
    flex-direction: row;
}

.sign-up-link {
    text-align: center;
    margin: 0 44px 16px;
}

.sign-up-link a {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}

.sign-up-link a:hover {
    text-decoration: none;
}

.sign-up-link a:active {
    text-decoration: none;
    color: #262626a3;
}

.back-log-in {
    margin-top: 68px;
    text-align: center;
}

.back-log-in-child {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-log-in-child a {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}

.back-log-in-child a:hover {
    text-decoration: none;
}

.back-log-in-child a:active {
    text-decoration: none;
    color: #262626a3;
}