@import "../../../assets/style/variable";

.wrap {
  position: fixed;
  height: 54px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    position: relative;
    margin: 10px auto 0;
    align-items: center;
    max-width: $content_max_width;

    .logo {
      flex: 1 9999 0;

      .logoWrap {
        margin-top: 7px;
      }

    }

    .search {
      display: flex;
      position: relative;
      height: 28px;
      flex: 0 1 auto;

      .inputSearch {
        border: solid 1px #dbdbdb;
        border-radius: 3px;
        color: #262626;
        outline: 0;
        padding: 3px 10px;
        font-size: 14px;
        background: #fafafa;
      }
    }

    @media only screen and (max-width: 500px) {
      .search {
        display: none;
      }
    }

    .icons {
      display: flex;
      flex: 1 0 0;
      justify-content: flex-end;

      .iconsFa {
        display: flex;
        flex-direction: row;
        height: 26px;
        a {
          color: #262626;
        }

        .fa {
          position: relative;
          margin-left: 20px;

          .faSize {
            height: 26px;
            width: 22px;
          }

          .avatar {
            width: 24px;
            height: 24px;
            cursor: pointer;
            background-color: #fafafa;
            border: 1px solid #dbdbdb;
            border-radius: 50%;
            box-sizing: border-box;

            .avatarImg {
              width: 100%;
              height: 100%;
            }
          }

          .btnAvatar {
            position: absolute;
            width: 24px;
            height: 24px;

            .dropdownItem {
              display: block;
              width: 100%;
              padding: .25rem 1.5rem;
              clear: both;
              font-weight: 400;
              color: #212529;
              text-align: inherit;
              white-space: nowrap;
              background-color: transparent;
              border: 0;
            }

            a {
              text-decoration: none;
            }

            a:hover {
              //color: #16181b;
              background-color: #f8f9fa;
            }

            .subIcons {
              margin-right: 12px;
              margin-bottom: 5px;
            }

            .hrLine {
              background-color: #dbdbdb;
              border: 0;
              height: 1px;
              margin: 0;
              width: 100%;
            }
          }

          button {
            background-color: unset;
            border-color: unset;

            &:hover {
              background-color: unset;
              border-color: unset;
            }

            &:visited {
              background-color: unset;
              border-color: unset;
            }

            &:focus {
              box-shadow: none;
              background-color: unset;
              border-color: unset;
            }

            &::after {
              content: none;
              background-color: unset;
              border-color: unset;
            }
          }

    }
  }
}
}
}
