@import "../../../assets/style/variable";

.wrap {
  position: fixed;
  height: 54px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: $content_width;
    position: relative;
    margin: 10px auto 0;
    align-items: center;

    .logo {
      flex: 1 9999 0;

      .logoWrap {
        margin-top: 7px;
      }

    }

    .search {
      display: flex;
      position: relative;
      height: 28px;
      flex: 0 1 auto;

      .inputSearch {
        border: solid 1px #dbdbdb;
        border-radius: 3px;
        color: #262626;
        outline: 0;
        padding: 3px 10px;
        font-size: 14px;
        background: #fafafa;
      }
    }

    @media only screen and (max-width: 500px) {
      .search {
        display: none;
      }
    }

    .icons {
      display: flex;
      flex: 1 0 0;
      justify-content: flex-end;

      .iconsFa {
        display: flex;
        flex-direction: row;
        height: 26px;
        a {
          color: #262626;
        }

        .fa {
          margin-left: 20px;

          .faSize {
            height: 26px;
            width: 22px;
          }

          .avatar {
            width: 24px;
            height: 24px;
            cursor: pointer;
            background-color: #fafafa;
            border: 1px solid #dbdbdb;
            border-radius: 50%;
            box-sizing: border-box;
            display: block;
            flex: 0 0 auto;
            overflow: hidden;
            position: relative;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
