.footer {
    background-color: #fafafa;
    order: 5;
    height: 104px;
}

.list-footer {
    display: flex;
    max-width: 1012px;
    height: 104px;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 0;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}

.list-footer-nav {
    max-width: 100%;
}

.list-footer-nav ul {
    list-style: none;
}

.list-footer-ul {
    margin: 0 16px 3px 0;
    padding: 0;
}

.list-footer-li {
    display: inline-block;
    margin: 0 16px 7px 0;
}

.list-footer-li a {
    color: #00376b;
}

.li-language {
    color: #00376b;
    display: inline-block;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    vertical-align: top;
}

.switch-language {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.DINPA {
    color: #8e8e8e;
}