.wrap {
  flex: 1;
  max-width: 600px;
  height:  3000px;
  position: relative;

  @media screen and (min-width: 640px) {
    .article {
      margin-bottom: 60px;
      border-radius: 3px;
      border: 1px solid #dbdbdb;
    }
  }

}

@media screen and (max-width: 999px) {
  .wrap {
    margin: auto;
  }
}

