.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 935px;
    width: 100%;
}

.wrapper .left-content {
    background-repeat: no-repeat;
    background-image: url("../../images/instagramBackground.png");
    background-size: 454px 618px;
    flex-basis: 454px;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
}

@media only screen and (max-width: 875px) {
    .wrapper .left-content {
        display: none;
    }
}

.wrapper .left-content .slide-images {
    margin: 99px 0 0 151px;
    position: relative;
}

.wrapper .left-content .slide-images .list-img {
    height: 427px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
}

.wrapper .right-content {
    flex-grow: 1;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
    padding-top: 21px;
}

.form-login {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.form-login .logo {
    background-image: url("../../images/instagram-logo.png");
    margin: 22px auto 12px;
    background-repeat: no-repeat;
    background-position: 0 -130px;
    height: 51px;
    width: 175px;
}

.form-login-child {
    margin-bottom: 10px;
    max-width: 350px;
    width: 100%;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input-child {
    margin-top: 24px;
}

.mg-input {
    margin: 0 40px 6px;
}

.input-login {
    align-items: center;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    position: relative;
    width: 100%;
}

.input-text {
    border: 0;
    padding: 9px 0 7px 8px;
    width: 260px;
}

.input-text:focus {
    outline: 0;
}

.btn-login {
    margin: 8px 40px;
    background: #fff;
    border: 0;
    flex-direction: column;
    display: inline-flex;
    width: 268px;
    height: auto;
}

.btn-login-submit {
    color: white;
    border: none;
    background: #3897f0;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 9px;
    font-size: 14px;

}

.btn-login-submit:hover {
    background-color: rgba(0,149,246,.3);
}

.btn-login-submit:active {
    border: none;
}

.submit-bottom {
    margin: 10px 40px 18px;
    display: flex;
    flex-direction: row;
}

.fb-login {
    margin: 8px 40px;
    text-align: center;
    display: inline-flex;
}

.fb-login-btn {
    background: 0 0;
    border: none;
    display: inline;
    position: relative;
    padding: 0;
    margin: 0;
    width: 268px;
    font-weight: 600;
    font-size: 14px;
}

.fb-login-btn:hover {
    background-color: unset;
}

.fb-login-btn:active {
    opacity: .7;
}

.fb-logo {
    background-image: url("../../images/instagram-logo.png");
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
}

.fb-login-text {
    color: #385185;
}

.break-line {
    background-color: rgba(219,219,219,1);
    height: 1px;
    position: relative;
    top: .45em;
    flex-grow: 1;
}

.or-text {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
    flex-grow: 0;
}

.err-message {
    color: #ed4956;
    margin: 10px 40px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.err-message p {
    display: block;
}

.forgot-pass {
    display: inherit;
    text-align: center;
    color: #00376b;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
}

.forgot-pass:hover {
    color: #00376b;
    text-decoration: none;
}

.forgot-pass:active {
    opacity: .5;
    text-decoration: none;
}

.register-form {
    display: flex;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin: -3px 60px -4px;
    font-weight: 300;
    width: 232px;
    height: 48px;
}

.quest-sign-up {
    color: #262626;
    font-size: 14px;
    margin: 15px;
    text-align: center;
}

.quest-sign-up a:hover {
    text-decoration: none;
}

.sign-up {
    color: #0095f6;
    font-weight: 600;
    margin-left: 4px;
}

.get-app {
    text-align: center;
}

.get-app-text {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    width: 310px;
}

.app-logo {
    margin: 10px 0;
}

.ios-logo {
    margin-right: 8px;
    width: 136px;
    height: 40px;
}

.android-logo {
    height: 40px;
    width: 134px;
}
