.pageBody {
  display: flex;
  flex-direction: column;
  .content{
    .topBar {
      position: relative;
      height: 43px;
      border-bottom: 1px solid #1c5380;
      border-bottom-color: rgba(4, 40, 71, 0.8);
      box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.2);
      background-color: #517fa4;
      background-image: url(../../images/noise.png), linear-gradient(to bottom, #517fa4, #306088);
      background-position: 50% 50%;
      z-index: 100;
      .logo {
        background: url(../../images/logo-header.png), no-repeat 0 4px;
        position: absolute;
        left: 47%;
        height: 35px;
        width: 97px;
        top: 4px;
        text-indent: -9999em;
        .link {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
    .main {
      display: flex;
      min-height: 1000px;
      .wrapper {
        display: flex;
        width: 992px;
        margin: 0 auto;
        .sidebar {
          width: 256px;
          padding-right: 0;
          border-left: 1px solid #c3cfd9;
          border-right: 1px solid #c3cfd9;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
          float: left;
          margin: 0 0 0 -17px;
          background: #eef2f5 url(../../images/change-password-nav.jpg) repeat 50% 50%;
        }
        @media only screen and (max-width: 640px) {
          .sidebar {
            display: none;
          }
        }
        .mainContent {
          width: 60%;
          margin-top: 50px;
        }
      }

    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding: 8px 0 7px;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    .pageFooter {
      display: inline-flex;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: bold;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          a {
            display: block;
            padding: 8px 6px;
            color: #3f729b;
          }
          a:active {
            color: #3f729b;
          }
        }
      }
      .copyright {
        padding: 8px 6px;
        margin: 0 0 0 8px;
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
